body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    main {
        flex: 2;
        section {
            max-width: 800px;
            margin: 50px auto;
        }    
    }


  }
  
